.header {
  padding: 92px 0 96px 0;
  background-color: #fff;
}

.header__container {
  display: grid;
  grid-template-columns:1fr min-content 1fr;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
}
 
.header__links-list {
  display: flex;
  gap: 32.5px;
}
.header__links-list-item {
  list-style: circle;
  list-style-position: outside;
}
.header__links-list-item_no-bullit {
  list-style: none;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  width: 240px;
}

.header__logo-image {
  height: 105px;
  width: auto;
  display: block;
}

.header__contact-text_active {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.header__link_active {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.cover {
  position: relative;
  min-height: 757px;
  background: url('../images/cover.jpg');
  background-size: cover;
}

.lots {
  margin-top: 180px;
}

.footer {
  margin-top: 180px;
}

.lots__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

.about__container {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  padding-top: 165px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 115px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aligned-text {
  display: block;
}
.aligned-text_left {
  margin-left:50px;
  text-align: left;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  margin-right: 50px;
  text-align: right;
}

.cover__description {
  position: absolute;
  right: 50px;
  bottom: 50px;
  left: 50px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.letter-spacing-extended {
  letter-spacing: 19.8px;
}
.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description-text {
  align-self: flex-end;
  margin-bottom: 11px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 48px 40px 48px 40px;
}

.lots__heading {
  margin-top: 180px;
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 31px;
  margin-bottom: 119px;
  margin-left: 40px;
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 20px;
}

.card-link {
  display: block;
  height: 100%;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}


.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-top: 136px;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.about__paragraph {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px 82px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
}


.footer__menu-link {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__address {
  width: 264px;
}

.footer__social {
  justify-self: end;
}

.footer__contact-text_active {
  text-decoration: underline;
  text-underline-offset: 4px;
}